<!doctype html>

<html data-ng-app="tinroofToDo">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Tin Roof Todo</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>

	<script src="js/controllers/todo-controller.js"></script> <!-- load up our controller -->
	<script src="js/services/todo-service.js"></script> <!-- load our todo service -->
	<script src="js/app.js"></script> <!-- load our main application -->

</head>

<body data-ng-controller="appController">
	<div class="container">

        <img src="http://beta.tinroofsoftware.com/wp-content/uploads/2016/03/TinRoofLogo-2.jpg" alt="Tin Roof Software">
		<div class="jumbotron text-center">
			<h1>TODO  <span class="label label-info">{{ todos.length }}</span></h1>
		</div>

		<div id="todo-list" class="row">
            <div ng-repeat="todo in todos">
                <div class="col-sm-4 col-sm-offset-4">

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-click="deleteTodo(todo.id)"> {{ todo.text }}
                        </label>
                    </div>

               </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" ng-click="editTodo(todo.id,todo.text)">Edit</button>
                </div>
            </div>
		</div>

        <p class="text-center" ng-show="loading">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>
 
		<div id="todo-form" class="row" ng-show="!loading">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<input type="text" class="form-control input-lg text-center" placeholder="enter todo task" ng-model="formData.text">
					</div>

					<button type="submit" class="btn btn-primary btn-lg" ng-show="!edit" ng-click="createTodo()">Add</button>
                    <button class="btn btn-primary btn-lg" ng-show="edit" ng-click="updateTodo()">Update</button>
				</form>
			</div>
		</div>

	</div>

</body>
</html>